extends layout


block content

  h1= title

  p
    | Welcome
    | This app is for Munchi
  img(src= "http://www.teslaworks.net/assets/images/originals/covers/munchi.jpg" style="width:228px;height:304px")

